@import "~styles/constants";
@import "~styles/colors";

@media (max-width: 1024px) {
  form{
    justify-content: space-between;
  }
  .form-window, .form-window-block{
    margin-top: $large-margin !important;
    padding: $large-padding !important;
    min-width: 200px !important;
  }
}

label {
  display: block;

  input {
    display: block;
  }
}


label[id='symbol'] {
  input {
    text-transform: uppercase;
  }
}

.contract {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  max-width: 1000px;
  .contract-header{
    display: flex;
    align-items: center;
    img{
      padding: 15px;
      height: 100px;
    }
  }
  form {
    flex: 1;
    padding-left: $large-padding;
    margin-top: $x-large-margin;
    padding-right: $large-padding;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    button {
      align-self: flex-start;
    }
  }
}

