@import "~styles/_constants";
@import "~styles/_colors";
@import "~styles/_classes";

@media (max-width: 1024px) {
  form{
    justify-content: space-between;
  }
}

label {
  display: block;

  input {
    display: block;
  }
}

label[id='symbol'] {
  input {
    text-transform: uppercase;
  }
}

.contract {
  @include form-window;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  max-width: 1000px;
  .contract-header{
    display: flex;
    align-items: center;
    img{
      padding: 15px;
      height: 100px;
    }
  }
  form {
    flex: 1;
    padding-left: $large-padding;
    margin-top: $med-margin;
    padding-right: $large-padding;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    button {
      align-self: flex-start;
      margin-top: $small-margin;
    }
  }
}

