@import "~styles/constants";
@import "~styles/colors";
@import "~styles/classes";

$max-width: 600px;

@media (max-width: 480px) {
  .send-to {
    width: inherit !important;
    text-align: center;
    > div {
      div {
        float: none !important;
      }

      div + div {
        float: none !important;
        margin-left: 0 !important;
      }
    }
  }

  .paymentInfo{
    canvas{
      height: 128px !important;
      width: 128px !important;
    }
  }
  .buttons {
    text-align: center;
    margin-top: $med-margin;
    button {
      float: none !important;
      width: 150px !important;
    }

    button + button {
      float: none !important;
      width: 150px !important;
    }
  }
}
@media (max-width: 1024px) {
  .paymentInfo{
    width: 100%;
    flex: none !important;
  }
  .buttons {
    text-align: center;
    margin-top: $med-margin;
    button {
      float: left;
      width: 150px !important;
    }

    button + button {
      float: right;
      width: 150px !important;
    }
  }
  .send-to {
    max-width: $max-width;
  }
}

@media (min-width: 1024px) and (max-width: 1281px) {
  .paymentInfo {
    font-size: 20px !important;
  }
}

@media (min-width: 1281px) {
  .paymentInfo {
    font-size: 22px !important;
  }
  button{
    font-size: 18px !important;
  }
}

.timeUp{
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.paymentInfo {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  justify-content: space-evenly;
  align-items: center;
  padding: $large-padding;

  canvas{
    padding: $small-padding;
  }
  > canvas + div{
    width: inherit;
    text-align: center;
    cursor: pointer;
    margin-top: $small-margin;
    margin-bottom: $small-margin;
    @extend .ellipsize;
    @extend .unselectable;
  }
  .timeoutButton{
    display: block;
    margin: auto;
    margin-top: $large-margin;
  }

  .buttons {
    display: block;
    width: 100%;
    max-width: $max-width;
    button {
      width: 100%;
    }
    button + button {
      margin-bottom: 0 !important;
    }
  }
  .send-to {
    max-width: $max-width;
    width: 100%;
    > div {
      div {
        float: left;
        margin-right: $small-margin;
        margin-bottom: $med-margin;
      }
      div + div {
        float: right;
        margin-left: $small-margin;
        margin-bottom: $med-margin;
      }
    }
    svg {
      margin-left: $small-margin;
      cursor: pointer;
    }
  }
}