@import '~styles/colors';
@import '~styles/classes';
@import '~styles/constants';

@media (max-width: 1024px) {
  .preview{
    max-width: none !important;
    height: fit-content !important;
    flex: none !important;
    line-height: normal !important;
  }
}

.preview {
  @include form-window;
  max-width: 250px;
  min-width: 200px;
  height: 100%;
  flex: 1;
  padding: $large-padding;
  display: block !important;
  line-height: 30px;
  p{
    font-size: 16px;
  }
}