@import '~styles/colors';
@import '~styles/constants';

footer {
  min-width: 320px;
  background-color: $dark-blue;
  color: $white;
  flex-shrink: 0;
  position:relative;
  clear: both;
  bottom:0;
  width:100%;
  height: $footer-height;
  display: flex;
  flex-direction: column;
  justify-content: center;
  div, a {
    color: $white;
    font-size: 16px;
  }
  a{
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .social-media {
    width: 100px;
    svg {
      margin-left: 0 !important;
    }
  }
}

.social-media {
  position: absolute;
  margin-left: $large-margin;
  a{
    display: inline-block;
  }
  svg{
    height: 24px;
    width: 24px;
    margin-right: $small-margin;
    margin-left: $small-margin;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
  }
  .svg-container {
    line-height:0;
    font-size: 0;
  }
  > a:first-child > svg{
    margin-left: 0;
  }
}

.site-info {
  display: inline-flex;
  flex-direction: inherit;
  align-items: flex-end;
  margin-right: $large-margin;
}

