@import "~styles/colors";
@import "~styles/constants";

.radio{
  display: flex;
  img{
    height: 100%;
    padding-right: $med-padding;
  }
  > div{
    list-style-type:none;
    margin:25px 0 0 0;
    padding:0;
  }
  label, input {
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
  }
  li {
    float:left;
    width:100px;
    height:40px;
    position:relative;
  }
  input[type="radio"] {
    opacity:0.011;
    z-index:100;
  }
  input[type="radio"]:checked + label {
    background: $med-blue;
    color: $white
  }
  label {
    padding:5px;
    border:1px solid #CCC;
    border-radius: $border-radius;
    background-color: $white;
    cursor:pointer;
    z-index:90;
    display: flex !important;
    justify-content: left;
    align-items: center;
  }
  label:hover {
    background-color: rgba($white, $hover-density);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  }
  input[type="radio"]:checked + label:hover{
    background-color: $med-blue;
    color: $white;
    box-shadow: 0 0 0 0;
  }
}