@import "~styles/colors";
@import "~styles/constants";
@import "~styles/classes";

.faq{
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  h1{
    margin-top: auto !important;
  }
  > div{
    @include form-window;
    flex-direction: column;
    padding: $xx-large-padding;
    max-width: 1000px;
  }
  ul{
    li{
      margin-bottom: $xx-large-margin;
    }
  }
}