@import "~styles/colors";
@import "~styles/constants";
@import "~styles/classes";

.faq{
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  ul{
    @include form-window;
    flex-direction: column;
    padding: $xxx-large-padding;
    max-width: 600px;
    li{
      margin-bottom: $xx-large-margin;
    }
  }
}