@import "~styles/constants";
@import "~styles/colors";

.preview {
  grid-column: span 2;
  height: 400px;
  background: $white;
  align-self: center;
  border: 1px solid #ccc;
  border-radius: $border-radius;
  display: flex;
  align-items: flex-start;
  padding: $large-padding;
  flex-direction: column;
  line-height: 30px;
}

.contract-form {
  grid-column: 4 / span 6;
  grid-gap: 5%;
  background-color: $white;
  border: 1px solid #ccc;
  height: fit-content;
  padding: $large-padding;
}

label {
  display: block;

  input {
    display: block;
  }
}


label[id='symbol'] {
  input {
    text-transform: uppercase;
  }
}


button {
  display: block;
  margin-top: $x-large-margin;
}

