@import "~styles/constants";
@import "~styles/colors";


.payment-complete {
  text-align: center;

  button {
    float: left;
  }

  button + button {
    float: right;
  }
}

.send-to {
  > div {
    div {
      float: left;
      margin-right: $small-margin;
    }

    div + div {
      float: right;
      margin-left: $small-margin;
    }
  }

  svg {
    margin-left: $small-margin;
    cursor: pointer;
  }
}

.preview {
  width: 200px;
  background: $white;
  border: 1px solid #ccc;
  border-radius: $border-radius;
  height: 100%;
  padding: $large-padding;
  margin-right: $xx-large-margin;
  margin-left: $large-margin;
  line-height: 30px;
}

.contract-form {
  background-color: $white;
  border-radius: $border-radius;
  min-width: 400px;
  flex: 1;
  border: 1px solid #ccc;
  margin-right: $large-margin;
  height: 100%;
  padding: $large-padding;
}

.paymentInfo {
  display: flex;
  flex-direction: column;
  align-items: center;

  div {
    margin-bottom: $med-margin;
  }

  .buttons {
    display: block;
    width: 100%;

    button {
      float: left;
    }

    button + button {
      float: right;
    }
  }
}


label {
  display: block;

  input {
    display: block;
  }
}


label[id='symbol'] {
  input {
    text-transform: uppercase;
  }
}


button {
  display: block;
  margin-top: $x-large-margin;
}

