@import "~styles/colors";
@import "~styles/constants";

.button {
  background: $green;
  border: 0;
  border-radius: $border-radius;
  min-width: 120px;
  min-height: 40px;
  color: $white;
  transition: .3s;
  margin-bottom: $large-margin;
  font-size: 14px;
}

button + button {
}

button:hover, a:hover {
  cursor: pointer;
}

.disabled{
  background-color: rgba($black, 0.1) !important;
}

.disabled:hover {
  cursor: auto !important;
  background-color: rgba($black, 0.1) !important;

}

.button:hover {
  background: rgba($green, .8);
  box-shadow: 0 2px 6px 0 rgba(0,0,0, $hover-density);
}
