@import "~styles/colors";
@import "~styles/constants";

.input {
  p{
    color: $grey-text;
    font-style: italic;
  }
  label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: $large-margin;
    input {
      width: 100%;
      margin-top: $small-margin;
      height: $input-height;
      padding-left: $med-padding;
      border-radius: $border-radius;
      border: 1px solid #cccccc;
      background-color: $grey;
    }
  }
}