@import "~styles/colors";
@import "~styles/constants";

.input {
  label {
    margin-right: $med-margin;
    margin-top: $med-margin;
    font-size: 14px;
    font-weight: bold;
    input {
      width: 100%;
      height: $input-height;
      padding-left: $med-padding;
      border-radius: $border-radius;
      border: 1px solid #cccccc;
      background-color: $grey;
    }
  }
}