@import "~styles/constants";
@import "~styles/colors";
form {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column: 3 / 11;
  grid-gap: 5%;
}
label{
  display: block;
  input{
    display: block;
  }
}

label[id='name']{
  grid-column: 2 / 4;
}

label[id='symbol']{
  grid-column: 4 / 6;
  input {
    text-transform: uppercase;
  }
}

label[id='supply']{
  grid-column: 2 / 4;
}

label[id='supply'] + label{
  grid-column: 4 / 6;
  margin-right: 0 !important;
}

label[id='decimal']{
  grid-column: 4 / 6;
}

label[id='creator-address']{
  grid-column: 2 / 6;
}

button{
  display: block;
  margin-top: $x-large-margin;
  grid-column-start: 5;
}

.controlClass{
  border: 1px solid $black;
  border-radius: $border-radius;
}