@import "~styles/colors";
@import "~styles/constants";

.dropdown {
  label {
    margin-right: $med-margin;
    margin-bottom: $large-margin;
    font-size: 14px;
    font-weight: bold;
    p{
      color: $grey-text;
      font-style: italic;
      margin-top: $med-margin;
      margin-bottom: $med-margin;
    }
    input {
      width: 100%;
      height: 25px;
      padding-left: $med-padding;
      border-radius: $border-radius;
      border: 1px solid #ccc;
    }
  }
}

.controlClass {
  border: 1px solid #ccc !important;
  border-radius: $border-radius !important;
  background-color: $grey !important;
  font-weight: normal !important;
  margin-top: $small-margin;
}