@import "~styles/constants";
@import "~styles/colors";
@import "~styles/classes";

@media (max-width: 1024px) {
  .payment-complete {
    margin-bottom: $large-margin;
    margin-top: $large-margin;
  }
}

.payment-complete {
  @include form-window;
  text-align: center;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: $large-padding;
  > div{
    width: 100%;
  }
  > div:first-child > div{
    @include ellipsize;
    font-size: 18px;
  }
  .complete-buttons {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    button {
      width: 100%;
    }
  }
}

