@import "~styles/_constants";
@import "~styles/_colors";
@import "~styles/_classes";

@media (max-width: 1024px) {
    .deploy-payment{
      flex-direction: column;
    }
}

@mixin deploy{
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
}

.deploy-contract, .deploy-payment{
  @include deploy;
}

@media (max-width: 1024px) {
  .form-window-block {
    display: block !important;
  }
}