@import "~styles/constants";
@import "~styles/colors";

@media (max-width: 1024px) {
    .deploy{
      flex-direction: column;
    }

}

//@media (min-width: 768px) and (max-width: 1024px) {
//
//  .deploy{
//    flex-direction: column;
//  }
//
//}

.deploy{
  width: 100%;
  display: flex;
  flex: 1;
}

.form-window {
  background-color: $white;
  border-radius: $border-radius;
  flex: 1;
  display: flex;
  border: 1px solid #ccc;
  height: 100%;
  margin-left: $large-margin;
  margin-right: $large-margin;
}