@import "~styles/constants";
@import "~styles/colors";

@media (max-width: 1024px) {
    .deploy{
      flex-direction: column;
    }
  .form-window, .form-window-block{
    margin-top: 10px;
    margin-bottom: 10px;
  }

}

//@media (min-width: 768px) and (max-width: 1024px) {
//
//  .deploy{
//    flex-direction: column;
//  }
//
//}

.deploy{
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
}

.form-window {
  background-color: $white;
  border-radius: $border-radius;
  margin-right: 20px;
  margin-left: 20px;
  flex: 1;
  display: flex;
  border: 1px solid #ccc;
  height: 100%;
}

.form-window-block {
  @extend .form-window;
  justify-content: center;
}

@media (max-width: 1024px) {
  .form-window-block {
    display: block !important;
  }
}