@import "~styles/colors";
@import "~styles/constants";

$card-width: 200px;
$card-height: 300px;
$card-color: $white;
$text-color: $black;


.disabled{
  background-color: rgba($card-color, .1) !important;
  cursor: auto !important;
}
.outer-card{
  position: relative;
  border: 0;
  border-radius: $border-radius;
  height: 260px;
  cursor: pointer;
  max-width: 300px;
  box-shadow: 0 4px 14px 0 rgba(0,0,0,.2);
  transition: 0.4s;
  background-color: $card-color;
  color: $text-color;
  padding: $large-padding;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .disabled{
    color: red;
    position: absolute;
    bottom: 5%;
    left: 5%;
  }
  h4{
    margin: 0;
  }
  h4 + h4{
    position: absolute;
    bottom: 5%;
    right: 5%;
    color: $light-green;
  }
  img{
    position: absolute;
    left: 0;
    width: 60px;
    height: 60px;
  }
  p{
    text-align: left;
    font-size: 14px;
    color: $charcoal;
    position: absolute;
    top: 40%;
  }
  div{
    color: $text-color;
  }
}

.outer-card:hover{
  box-shadow: 0 6px 18px 0 rgba(0,0,0, $hover-density);
  background-color: rgba($card-color, $hover-density);
}

.disabled:hover{
  background-color: rgba($card-color, .1) !important;
  box-shadow: 0 4px 14px 0 rgba(0,0,0,.2) !important;
}


